.section-black {
    background-image: url(../img/fondo-black.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 55% 1fr;
    height: calc(100vh - 66px);
    margin-bottom: 4rem;
}

.col-left{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

.box-texts{
    width: 32rem;
}

.title-inicio {
    font-family: 'Avenir LT Std', sans-serif;
    font-style: normal;
    font-weight: 750;
    font-size: 2.25rem;
    line-height: 2.688rem;
    color: white;
}

.title-inicio-amarillo {
    font-family: 'Avenir LT Std', sans-serif;
    font-style: normal;
    font-weight: 750;
    font-size: 2.25rem;
    line-height: 2.688rem;
    color: #fecb37;
}

.col-right{
    background: url(../img/hover-inicio.png) right no-repeat;
    background-size: 41.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-plato-inicio{
  width: 29rem;
  height: 29rem;
  margin: 0 auto;
}

.plato-inicio{
  width: 300px;
}


.text-arma-tu-plato{
    font-family: 'Hey October', sans-serif;
    size: 3rem;
}

.text-carta{
    font-family: 'Hey October', sans-serif;
    text-align: center;
    size: 3rem;
}

.container-cards-menus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0;
    row-gap: 1.875rem;
    column-gap: 1.875rem;
    width: 100%;
}

.card-menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.card-menu-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:2.5rem;
}

.card-menu-body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1.875rem 1.875rem;
    grid-template-areas: 
    "titulo separador precio"
    "texto texto texto";
    width: 100%;
    align-items: center;
    justify-content: center;
}

.separador-precio {
    width: 100%;
    border-bottom: solid 1px #cecece;
}

.item-a {
    grid-area: titulo;
    justify-self: start;
}
.item-b {
    padding-bottom: 0.313rem;
    width: 90%;
    grid-area: separador;
    align-self: center;
    justify-self: center;
}
.item-c {
    grid-area: precio;
}
.item-d {
    grid-area: texto;
    justify-self: start;
}

.href-ver-menu{
  display: block;
  text-align: center;

}

/******************* MEDIA QUERY PARA DISPOSITIVOS MOVIL*******************/

    @media (max-width: 576px) {
    *{
        font-size: 10px;
    }

    .section-black {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .col-left{
     align-items: center;
    }

    .box-texts{
      max-width: 90%;
      padding: 1.5rem 0;
    }

    .title-inicio {
      font-size: 1.5rem;
    }
  
    .title-inicio-amarillo {
        font-size: 1.5rem;
        line-height: 1rem;
    }

    .col-right{
      background-size: 27.5rem;
      background-position-y: bottom;
    }

    .img-plato-inicio{
      width: 25rem;
      height: 25rem;
    }

    .plato-inicio{
      width: 80em;
      margin: 0 auto;
    }


    .container-cards-menus {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0;
  }

    .card-menu {
      display: flex;
      justify-self: center;
      width: 90%;
  }

  .href-ver-menu{
   margin-bottom: 3rem;
  
  }

  .text-carta{
    margin-top: 3rem;
}

.text-body-carta{
  padding: 0 2rem;
  text-align: center;
}
    
}